<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container bg-dark text-white">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Registrar outro contato?</h1>
      <p class="text-center lead">Você gostaria de registrar outro contato?</p>

      <div class="d-flex justify-content-around">
        <a href="/contato/index" class="btn btn-primary">Sim</a>
        <a href="/" class="btn btn-secondary">Não</a>
      </div>

    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
